
h1 {
  background-color:blue;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 100px;
  border-style: solid;
}

p {
  margin-right: 250px;
  margin-left: 100px;
}

#number-of-correct{
  font-family: fantasy;
  font-size: 20px;
}
<<<<<<< HEAD

ol {
<<<<<<< HEAD
  
=======
  margin-left: px;
  margin-right:px;
  padding-left: px;
  padding-right: px;
  font-size: 30px;
>>>>>>> 169a518902ab39cb07c7cc691e7dec38760d7a14
}
=======
>>>>>>> 0f1ed6cd7f72c59ec7744a3763670768e43c1f68
