
body{
  background-color: ;
  width:
}

h1 {
  background-color:;
  margin-left: 249px;
  margin-right: 250px;
  padding-left: 100px;
  border-style: solid;
}

p {
  background-color:#;
  margin-right: 250px;
  margin-left: ;
  padding-right: 100px;
  display: block;
  width: 50%;
  border:
}
h2{
  display:inline;
}
h3{
  display: inline;
}

#number-of-correct{
  font-family: fantasy;
  font-size: 20px;
}

ol {


  margin-left: px;
  margin-right:px;
  padding-left: px;
  padding-right: px;
  font-size: 30px;
